.checkoutProduct {
  display: flex;
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid rgb(245, 241, 241);
  margin-right: 20px;
}

.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  padding: 10px;
}

.checkoutProduct__info{
  padding: 20px 0;
}
.checkoutProduct__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.checkoutProduct__price {
  margin-bottom: 20px;
}